<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.fname }} {{ user.lname }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    <h1>{{ user.fname }} {{ user.lname }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Date of Birth: {{ user.dob }}</p>
    <h2>Friends:</h2>
    <ul>
        {% for friend_id in user.friends %}
            {% set friend = users_dict[friend_id|string] %}
            <li><a href="/users/{{ friend_id }}">{{ friend.fname }} {{ friend.lname }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>