<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Add New Product</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=20) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=60) }}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(size=20) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>